$unit: 1vh;

.selfface {
    box-sizing: border-box;
    position: relative;
  }


  .lozenge {
    width: $unit * 75;
    height: $unit * 75;
    border-style: solid;
    border-color: #fff;;
    border-width: $unit * 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    background-color: #2b9a9a;
  }
  
  .head {
      position: relative;
    width: $unit * 71;
    height: $unit * 71;
  }
  
  .hair {

    width: $unit * 45;
    height: $unit * 50;
    background-color: #5B3914;
    left: 50%;
    top: 50%;
    transform: translate(29%, 7%);
    border-radius: $unit * 25;
  }
  
  .ears {
      display: flex;
      justify-content: space-between;
    left: 50%;
    top: 57%;
    transform: translate(15%, -181%);
    height: $unit * 15;
    width: $unit * 55;
    
    .ear {
      background-color: #F4D7CB;
      border-radius: 50%;
      width: $unit * 10;
      height: $unit * 15;
      transform: rotate(-15deg);
      left: 0;
      
      &::before, &::after {
        content: " ";
        width: 80%;
        height: 80%;
        background-color: #DFA59B;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        border-radius: 50%;
      }
      
      &::after {
        width: 50%;
        height: 50%;
        background-color: #F4D7CB;
        left: 47%;
        top: 40%;
        transform: rotate(15deg);
      }
      
      &.ear-right {
        transform: rotate(15deg);
        right: 0;
        left: auto;
        
        &::after {
          left: 10%;
          transform: rotate(-15deg);
        }
      }
    }
  }
  
  .face {
    position: relative;
    width: $unit * 40;
    height: $unit * 60;
    background-color: #F4D7CB;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -156%);
    border-radius: $unit * 20;
    border: $unit * 2 solid #5B3914;
  }
  
  .sideburns {
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: $unit * 40;
    height: $unit * 14;
    position: relative;
    overflow: hidden;
    
    .sideburn {
      position: absolute;
      left: 0;
      top: 0;
      border-color: transparent;
      border-left-color:  #5B3914;
      border-style: solid;
      content: " ";
      border-width: $unit * 5 $unit * 5 $unit * 10;
      transform: rotate(-12deg);
    }
    .sideburn-right {
      left: auto;
      right: 0;
      border-left-color:  transparent;
      border-right-color:  #5B3914;
      transform: rotate(12deg);
    }
  }
  
  .beard {
    width: $unit * 30;
    height: $unit * 20;
    background-color: #5B3914;
    left: 50%;
    top: 60%;
    // transform: translate(-50%, $unit * 5); 
    transform: translate(-50%, 370px); 
    border-radius: 50%;
    overflow: hidden;
  }
  
  .mouth {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    width: $unit * 15;
    height: $unit * 10;
    background-color: #7D3126;
    border-radius: $unit * 4 $unit * 4 $unit * 10 $unit * 10;
    overflow: hidden;
    
    .tongue {
      background-color: #D96269;
      width: $unit * 30;
      height: $unit * 10;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translateX(-50%);
    }
    
    .teeth {
      background-color: #fff;
      width: $unit * 12;
      height: $unit * 5;
      left: 50%;
      top: -30%;
      border-radius: $unit * 5;
      transform: translateX(-50%);
    }
  }
  
  .eyes {
    width: $unit * 42;
    height: $unit * 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    
    .bridge {
      position: absolute;
      width: $unit * 10;
      height: $unit * 4;
      content: " ";
      border: $unit * 1 solid transparent;
      border-top-color: #3A2117;
      border-radius: 50%;
      left: 50%;
      transform: translateX(-50%);
    }
    
    .eye {
      background-color: rgba(255,255,255,0.4);
      width: 40%;
      height: 100%;
      left: 2.5%;
      border-radius: $unit * 2;
      border: $unit * 1 solid #3A2117;
      
      .brow {
        border-color: #5B3914;
        border-style: solid;
        content: " ";
        width: 0;
        height: 0;
        position: absolute;
        left: 0;
        top: -($unit * 6);
        border-top-color: transparent;
        border-left-color: transparent;
        border-left-width: $unit * 14;
        border-bottom-width: $unit * 3;
        border-top-width: 0;
        border-right-width: 0;
        transform: rotate(-8deg);
          
      }
      
      .pupil {
        left: 60%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #3A2117;
        width: $unit * 3;
        height: $unit * 4;
        border-radius: 50%;
        
        animation: blinker 5s infinite;
      }
      
      &.eye-right {
        left: auto;
        right: 2.5%;
        
        .brow {
          border-right-color: transparent;
          border-right-width: $unit * 14;
          border-left-width: 0;
          border-left-color: #5B3914;
          transform: rotate(8deg);
          left: auto;
          right: 0;
          
          &::before {
            left: 0;
          }
        }
        
        .pupil {
          left: 40%;
        }
      }
    }
  }
  
  .nose {
    left: 50%;
    top: 40%;
    transform: translate(-50%, 100%);
    background-color: #F98382;
    width: $unit * 10;
    height: $unit * 10;
    border-radius: $unit * 5;
    
    &::before {
      position: absolute;
      content: " ";
      border-color: transparent;
      border-bottom-color: #F98382;
      border-width: 0 $unit * 4 $unit * 10 $unit * 4;
      width: $unit * 2;
      height: 0;
      border-style: solid;
      left: 0%;
      top: -($unit * 5.9);
    }
      
    &::after {
      position: absolute;
      background-color: #F98382;
      content: " ";
      width: $unit * 2;
      height: $unit * 2;
      top: -($unit * 6.8);
      border-radius: 50% 50% 0 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
  .quiff {
    left: 50%;
    top: -($unit * 4);
    transform: translateX(-50%);
    width: $unit * 20;
    height: $unit * 10;
    border-radius: 50%;
    background-color: #5B3914;
  }
  
  
  
  @keyframes blinker {
    0% {
      width: $unit * 3;
      height: $unit * 4;
    }
    60% {
      width: $unit * 3;
      height: $unit * 4;
    }
    61% {
      width: $unit * 5;
      height: $unit * 0.1;
    }
    63% {
      width: $unit * 3;
      height: $unit * 4;
    }
    90% {
      width: $unit * 3;
      height: $unit * 4;
    }
    91% {
      width: $unit * 5;
      height: $unit * 0.1;
    }
    95% {
      width: $unit * 3;
      height: $unit * 4;
    }
  }