.promo {
    min-height: 100vh;
    position: relative;

    &__title {
        width: 700px;
        margin-top: 10px;
        color: white;
    }

    &__subtitle {
        position: relative;
        padding-left: 10px;
        color: white;
        z-index: 2;
        @include before_circle;
    }

    &__btns {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
    }

    &__link {
        color: white;
        font-weight: bold;

        &:hover {
            color: white;
            text-decoration: none;
        }

    }
}